body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:446px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:172px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:436px;
  width:455px;
  height:172px;
  font-size:18px;
  color:#FFFFFF;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:451px;
  word-wrap:break-word;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:147px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:227px;
  width:447px;
  height:147px;
  font-size:18px;
  color:#FFFFFF;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:443px;
  word-wrap:break-word;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:126px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:40px;
  width:447px;
  height:126px;
  font-size:18px;
  color:#FFFFFF;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:443px;
  word-wrap:break-word;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-decoration:underline;
  color:#0066CC;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:82px;
  width:92px;
  height:26px;
  font-size:18px;
  text-decoration:underline;
  color:#0066CC;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-decoration:underline;
  color:#0066CC;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:82px;
  width:53px;
  height:26px;
  font-size:18px;
  text-decoration:underline;
  color:#0066CC;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:279px;
  width:96px;
  height:26px;
  font-size:18px;
  color:#FFFFFF;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:282px;
  width:19px;
  height:21px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:505px;
  width:96px;
  height:26px;
  font-size:18px;
  color:#FFFFFF;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:505px;
  width:19px;
  height:21px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-decoration:underline;
  color:#0066CC;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:565px;
  width:142px;
  height:26px;
  font-size:18px;
  text-decoration:underline;
  color:#0066CC;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#009900;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:11px;
  width:91px;
  height:29px;
  font-size:16px;
  color:#009900;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#009900;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:198px;
  width:158px;
  height:29px;
  font-size:16px;
  color:#009900;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#009900;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:397px;
  width:158px;
  height:29px;
  font-size:16px;
  color:#009900;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:526px;
  width:100px;
  height:181px;
}
#u109_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:181px;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
  text-decoration:underline;
  color:#0066CC;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:100px;
  height:43px;
  text-decoration:underline;
  color:#0066CC;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:45px;
  text-decoration:underline;
  color:#0066CC;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:100px;
  height:46px;
  text-decoration:underline;
  color:#0066CC;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-decoration:underline;
  color:#0066CC;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:279px;
  width:92px;
  height:26px;
  font-size:18px;
  text-decoration:underline;
  color:#0066CC;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-decoration:underline;
  color:#0066CC;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:505px;
  width:92px;
  height:26px;
  font-size:18px;
  text-decoration:underline;
  color:#0066CC;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
